<!-- Footer -->
<footer id="footer" class="mt-5 bg-dark border-top border-secondary">
  <div class="container text-light mt-3 justify-content-center">
    <div class="row">
      <div class="col-12 col-lg-3 text-center text-lg-start">
        <h6 class="">KFUPM Soccer</h6>
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae,
          nihil similique
        </p>
      </div>
      <div class="col-12 col-lg-3 text-center">
        <h6 class="">Terms of Service</h6>
        <li class="list-unstyled">
          <a href="#" class="link-secondary text-decoration-none">Read</a>
        </li>
      </div>
      <div class="col-12 col-lg-3 text-center pt-3 pt-lg-0">
        <h6 class="">Contact Us</h6>
        <li class="list-unstyled">
          <a href="#" class="link-secondary text-decoration-none">Email</a>
        </li>
        <li class="list-unstyled">
          <a href="#" class="link-secondary text-decoration-none">Twitter</a>
        </li>
      </div>
      <div class="col-12 col-lg-3 text-center pt-3 pt-lg-0">
        <h6 class="">About Us</h6>
        <li class="list-unstyled">
          <a href="#" class="link-secondary text-decoration-none">Our Team</a>
        </li>
      </div>
    </div>
  </div>
</footer>
