
<div class="container" id="request-type">
  <div>
      <p>
          Choose Request Type
      </p>
  </div>

   <div class="col-md-4">
    <div class="row justify-content-start">
      <div class="col text-center">
        Received
      </div>
      <div class="col text-center">
        Sent
      </div>
      <div class="col text-center">
        All
      </div>
    </div>
   </div>
</div>

<div class="container" id="requests">

    <div class="row" id="head">
        <div class="col-md-2 text-center ">
          Type
        </div>
        <div class="col-md-2 text-center ">
          Date
        </div>
        <div class="col-md-2 text-center ">
          From/To
        </div>
        <div class="col-md-2 text-center ">
          Team
        </div>
        <div class="col-md-2 text-center ">
          Action/Status
        </div>
      </div>
  
    <div *ngFor="let request of allrequests.slice(0, visibleCardCount)" class="row" [@fadeInOut]>
      <request-card [request]="request"></request-card> 
    </div>

    <div class="col-md-4 mt-4" *ngIf="showMore">
      <a (click)="showMoreCards()">Show more >></a>
    </div>
</div>


