.container {
  /* Temporarey: Delete After */

  border-radius: 40px;
  background: #9fa2a8;

  width: 78.125rem;
  height: 50rem;
  margin-top: 2rem;

  flex-shrink: 0;
  border-radius: 2.5rem;
  background: #9fa2a8;
}
