<nav>
    <div id="navRight">
      <p>{{title}}</p>
      <div class="searchBar">
        <input type="text" placeholder="What are you looking for?">
        <img src="assets/search_icon.png" width="50px" height="50px">
      </div>
    </div>
    <ul class="navMenu">
      <li><a routerLink="/home-view" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li>Sign In</li>
      <li><a routerLink="/signup-view" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a></li>
      <li>Contact Us</li>
      <li>About Us</li>
    </ul>
</nav>