p {
    color: #EAEDF2;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    display: inline;
}

.tags {
  
    font-weight: 722;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 3px solid #3A3F45;
    background: #212529;
    margin: 10px;
    height: 100%;
    flex-shrink: 0;
}
  
.card-body {
    flex: 1; 
    padding: 1rem;
  }

.row {
display: flex;
}

  

.img-fluid {
    width: auto;
    height: 100%;
    background: #198754;
}

a {
    width: 146px;
    height: 26px;
    flex-shrink: 0;
    text-decoration: none;
    color: #9FA2A8;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

i {
    color: #EAEDF2;
}