<div class="card mb-3 overflow-hidden align-items-stretch">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="'assets/'+ card.imageSrc" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="card-text"> 
          <p class="tags">Name: </p>
          <p>{{ card.name }}</p>
        </div>
        <div class="card-text"> 
          <p class="tags">KFUPM ID: </p>
          <p>{{ card.kfupmId }}</p>
        </div>
        <div class="card-text"> 
          <p class="tags">Major: </p>
          <p>{{ card.major }}</p>
        </div>
        <div class="card-text"> 
          <p class="tags">Concentration: </p>
          <p>{{ card.concentration }}</p>
        </div>
        <a [href]="card.showMoreLink">Show more >></a>
    </div>
  </div>
</div>
