<div class="card mb-3 overflow-hidden">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/image-5.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-text"> 
            <p class="tags">Name: </p>
            <p>Ali alqutayfi</p>
          </div>
          <div class="card-text"> 
            <p class="tags">KFUPM ID: </p>
            <p>20202</p>
          </div>
          <div class="card-text"> 
            <p class="tags">Major: </p>
            <p>SWE</p>
          </div>
          <div class="card-text"> 
            <p class="tags">Concentration: </p>
            <p>Web,AI</p>
          </div>
          <a href="">Show more>></a>
      </div>
    </div>
</div>