<nav>
  <ul class="navMenu">
    <li *ngFor='let item of navList'>
      <a
        routerLink={{item.path}}
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
      {{item.name}}
      </a>
    </li>
    <!-- <li>
      <a
        routerLink=""
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/signin"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Sign In</a
      >
    </li>
    <li>
      <a
        routerLink="/signup"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Sign Up</a
      >
    </li>
    <li>Past Projects</li>
    <li>About Us</li> -->
  </ul>
</nav>
