#mainContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10px;
    margin-bottom: 50px;
    color: white;
    font-size: 17px;
    background-color: #475B5A;
}

nav ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    float: right;
}

nav li {
    list-style-type: none;
}

nav input {
    font-size: 17px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
}

#navRight {
  display: flex;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

nav img {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}


.topBar {
    background-image: linear-gradient(to right, rgba(0,255,0,0), rgba(0,255,0,1));
    margin: 0px 100px 0px 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: steelblue;
    margin: 50px 0px 25px 0px;
}

h2 {
  margin-left: 120px;
}

.timeLineSection {
    padding: 10px;
}

.timeLineBox {
    border-radius: 25px;
    background: white;
    margin: 10px 100px 10px 100px;
    height: 300px;
}

.pastProjectSection {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.pastProjectCard {
    border-radius: 25px;
    background: white;
    margin: 10px 100px 10px 100px;
    height: 400px;
    width: 4500px;
    position: relative;
}

.pastProjectCard p {
    margin: 20px;
    position: absolute;
    bottom: 0;
}

hr {
  border-top: 2px solid black;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: auto;
}

footer div {
  padding: 10px;
}
