<div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <student-card></student-card>
      </div>
      <div class="col-md-6">
        <student-card></student-card>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <student-card></student-card>
      </div>
      <div class="col-md-6">
        <student-card></student-card>
      </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
          <student-card></student-card>
        </div>
        <div class="col-md-6">
          <student-card></student-card>
        </div>
    </div>

    <div class="text-center">
      <a href="">Show more>></a>
    </div>
</div>
  