div a {
    width: 207px;
    height: 26px;
    flex-shrink: 0;
    color: #EAEDF2;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

div a:hover {
    color: #eaedf276;
}

.text-center {
    margin-top: 35px;
    margin-bottom: 35px;
}

.container {
    margin-top: 35px;
    margin-bottom: 50px;
}

.col-md-6 {
    margin-top: 35px;
}