.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  width: fit-content;
  gap: 2rem;
}

label {
  width: 20rem;
  color: #212529;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

b {
  font-weight: 700;
}

.img-profile {
  width: 13.5rem;
  height: 13.5rem;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
}
