<div class="card m-3 overflow-hidden">
  <div class="row g-0">
    <img [src]="card.imageSrc" class="card-img-top" alt="Card Image">
    <div class="card-body ">
      <div class="card-text">
        <p class="tags">Name: </p>
        <p>{{ card.name }}</p>
      </div>
      <div class="card-text">
        <p class="tags">Current Members Majors: </p>
        <p>{{ card.currentMembersMajors }}</p>
      </div>
      <div class="card-text">
        <p class="tags">Wanted Majors: </p>
        <p>{{ card.wantedMajors }}</p>
      </div>
      <div class="card-text">
        <p class="tags">Project Concentration: </p>
        <p>{{ card.projectConcentration }}</p>
      </div>
      <div class="text-center">
        <a [attr.href]="'#'+modalId" data-bs-toggle="modal">Show more >></a>
      </div>
    </div>
  </div>
</div>
