<h2>Profile</h2>
<div class="wrapper">
  <section class="personal-wrapper">
    <!-- Name -->
    <div class="field-wrapper">
      <label for="name" class="form-label">Name</label>
      <input
        id="name"
        type="text"
        maxlength="30"
        class="form-control"
        disabled="true"
        value="Hassan alsayhah"
      />
      <img src="../assets/pen-green.png" class="img" />
    </div>

    <!-- Phone number -->
    <div class="field-wrapper">
      <label for="phoneNumber" class="form-label">phone Number</label>
      <input
        id="phoneNumber"
        type="text"
        maxlength="14"
        class="form-control"
        disabled="true"
        value="+996 00 000 000"
      />
      <img src="../assets/pen-green.png" class="img" />
    </div>

    <!-- Major -->
    <div class="field-wrapper">
      <label for="majors" class="select-label">Major</label>
      <select name="majors" id="majors">
        <option value="volvo">SWE</option>
        <option value="saab">CS</option>
        <option value="opel">ISE</option>
        <option value="audi">AME</option>
      </select>
    </div>
  </section>

  <!-- Specalization -->
  <section class="personal-wrapper">
    <div class="field-wrapper">
      <label for="specalization" class="form-label">Specalization</label>
      <input
        id="specalization"
        type="text"
        maxlength="30"
        class="form-control"
        disabled="true"
        value="AI"
      />
    </div>

    <!-- interests -->
    <div class="field-wrapper">
      <label for="interest" class="form-label">Interest</label>
      <textarea
        id="interest"
        type="text"
        class="textarea-interest"
        disabled="true"
        rows="6"
      ></textarea>
      <img src="../assets/pen-green.png" class="img" />
    </div>
  </section>
</div>
<div class="container">
  <!-- bio -->
  <div class="field-wrapper">
    <label for="bio" class="form-label">bio</label>
    <textarea
      id="bio"
      type="text"
      class="textarea-bio"
      disabled="true"
      rows="5"
    >
Ok, it is the bio here</textarea
    >
    <img src="../assets/pen-green.png" class="img" />
  </div>

  <div id="btnWrapper">
    <button type="button" class="btn btn-success">Show Requests</button>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#passwordModal">Change Password</button>
  </div>
</div>


<div class="modal" tabindex="-1" id="passwordModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row mb-3">
            <p id="modal-title"> Change Password</p>
          </div>
          <div class="row mb-3">
            <div class="form-group">
              <label for="oldpass"><p class="input-label">Old Password</p></label>
              <input type="password" class="modal-input form-control" id="oldpass">
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-group">
              <label for="newpass"><p class="input-label">New Password</p></label>
              <div class="input-container">
                <i *ngIf="!showEyeNewPass" class="fa-solid fa-eye-slash" (click)="togglePasswordVisibility('newpass')"></i>
                <i *ngIf="showEyeNewPass" class="fa-solid fa-eye" (click)="togglePasswordVisibility('newpass')"></i>
                <input #newpass type="password" class="modal-input form-control" id="newpass">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-group">
              <label for="confirmPass"><p class="input-label">Confirm Password</p></label>
              <div class="input-container">
                <i *ngIf="!showEyeConfirmPass" class="fa-solid fa-eye-slash" (click)="togglePasswordVisibility('confirmPass')"></i>
                <i *ngIf="showEyeConfirmPass" class="fa-solid fa-eye" (click)="togglePasswordVisibility('confirmPass')"></i>
                <input #confirmPass type="password" class="modal-input form-control" id="confirmPass">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <button type="button" class="btn btn-success" id="modal-button" data-bs-dismiss="modal">Submit</button>
          </div>
          <div class="row mb-3 d-flex align-items-center" >
            <div class="rounded-circle d-flex align-items-center justify-content-center" data-bs-dismiss="modal">
            <i class="fa-solid fa-reply"></i>
            </div>  
            <p class="">Back to profile</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

