<h2>Profile</h2>
<div class="wrapper">
  <section class="personal-wrapper">
    <!-- Name -->
    <div class="field-wrapper">
      <label for="name" class="form-label">Name</label>
      <input
        id="name"
        type="text"
        maxlength="30"
        class="form-control"
        disabled="true"
        value="Hassan alsayhah"
      />
      <img src="../assets/pen-green.png" class="img" />
    </div>

    <!-- Phone number -->
    <div class="field-wrapper">
      <label for="phoneNumber" class="form-label">phone Number</label>
      <input
        id="phoneNumber"
        type="text"
        maxlength="14"
        class="form-control"
        disabled="true"
        value="+996 00 000 000"
      />
      <img src="../assets/pen-green.png" class="img" />
    </div>

    <!-- Major -->
    <div class="field-wrapper">
      <label for="majors" class="select-label">Major</label>
      <select name="majors" id="majors">
        <option value="volvo">SWE</option>
        <option value="saab">CS</option>
        <option value="opel">ISE</option>
        <option value="audi">AME</option>
      </select>
    </div>
  </section>

  <!-- Specalization -->
  <section class="personal-wrapper">
    <div class="field-wrapper">
      <label for="specalization" class="form-label">Specalization</label>
      <input
        id="specalization"
        type="text"
        maxlength="30"
        class="form-control"
        disabled="true"
        value="AI"
      />
    </div>

    <!-- interests -->
    <div class="field-wrapper">
      <label for="interest" class="form-label">Interest</label>
      <textarea
        id="interest"
        type="text"
        class="textarea-interest"
        disabled="true"
        rows="6"
      ></textarea>
      <img src="../assets/pen-green.png" class="img" />
    </div>
  </section>
</div>
<div class="container">
  <!-- bio -->
  <div class="field-wrapper">
    <label for="bio" class="form-label">bio</label>
    <textarea
      id="bio"
      type="text"
      class="textarea-bio"
      disabled="true"
      rows="5"
    >
Ok, it is the bio here</textarea
    >
    <img src="../assets/pen-green.png" class="img" />
  </div>

  <div id="btnWrapper">
    <button type="button" class="btn btn-success">Show Requests</button>
    <button type="button" class="btn btn-success" (click)="signOut()">Change Password</button>
  </div>
</div>
