h2 {
  color: #0f7553;
  text-align: center;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 722;
  line-height: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  height: 44rem;
  flex-direction: column;
  justify-content: space-around;
}

/* For buttons */
#boxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-success {
  border-radius: 50px;
  /* background-color: #198754; */

  padding: 0.625rem 0.625rem;

  width: 13.6875rem;
  height: 4.125rem;

  color: #dde6ed;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 722;
  line-height: normal;
}

#btnWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
}

/* End of buttons */

.imageRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forgotPass {
  float: left;
}

.personal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.field-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
}

.field-wrapper-horizintal {
  display: flex;
  position: relative;
  gap: 4px;
  width: 55.7rem;
  justify-content: space-around;
}

.form-control {
  width: 18.75rem;
  height: 3.625rem;
  margin-top: 1.5rem;
  padding: 10px;
  padding-left: 30px;
  flex-shrink: 0;
  fill: #dde6ed;
  border-radius: 50px;
  border: 0 solid white;
  color: #212529;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact {
  width: 26.8rem;
}

#major {
  width: 13.25rem;
}

.form-label {
  position: absolute;
  /* width: 8.9375rem; */
  width: fit-content;
  height: 1.625rem;
  left: 2rem;
  color: #212529;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img {
  position: absolute;
  height: 2rem;
  right: 1rem;
  bottom: 0.8rem;
  cursor: pointer;
}

.textarea {
  width: 25.8125rem;
  margin-top: 1.5rem;
  padding: 10px;
  flex-shrink: 0;
  fill: #dde6ed;
  border-radius: 50px;
  border: 0 solid white;
  color: #212529;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  resize: none;
}

.about {
  height: 18.3rem;
}

.skills {
  height: 13rem;
}

.links {
  width: 54rem;
}
